body{
    text-align: center;
}
h1{
    background-color: aquamarine;
    color: black;
    margin: auto;
    margin-bottom: 50px;
}
.Brather p{
    padding: 50px;
    background: linear-gradient(black,red,white) ;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
}
.Brather img{
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
    margin: auto;
    animation: move 4s ease infinite alternate;
}
@keyframes move{
from{   
    transform: rotate(-45deg);
}
to{
    transform: rotate(45deg);
}

}
